/* Main Site Layout */
:root {
    /* sizes */
	--block-max-width: 1600px;

	/* fonts */
	--main-font: "Montserrat", sans-serif;

	/*  colors */
	--color-dark: #0A1F38;
	--color-dark-middle: #1B2F46;
	--color-dark-light: #2F4056;
	--color-gray: #9DA5AF;
	--color-green-dark: #819400;
	--color-green-middle: #97AB0D;
	--color-green: #A5BB0C;
	--color-green-light: #B1C909;
	--color-white: #FFFFFF;

	@media screen and (width <= 1366px) {
		--block-max-width: 1206px;
	}
}

html {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: var(--main-font);
	background-color: var(--color-dark);
	color: var(--color-text);

	&._hidden {
		overflow: hidden;
	}
}

.container {
	max-width: var(--block-max-width);
	margin: 0 auto;
}